{
    "presets": [
        "react",
        "flow",
        [
            "env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "syntax-dynamic-import",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}