.user-box {
    box-sizing: border-box;
    margin: 16px 0;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #ddd;
}

.user-box .user-nickname {
    margin-bottom: 0;
}

#user-name {
    margin-top: 0;
}

.user-box .user-name {
    color: rgba(0, 0, 0, 0.3);
}

.user-sider {
    width: 100%;
    text-align: left;
}

@media screen and (max-width: 576px) {
    .user-sider {
        text-align: center;
    }
}

.user-content {
    width: 100%;
}