.header {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 2px #ddd;
    padding: 0 25px;
}

.header-logo {
    display: block;
    width: 64px;
    height: 64px;
    background-image: url('../../assets/logo/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.header h1 {
    display: inline-block;
    max-width: 170px;
    padding: 0 20px;
    margin: 0;
    padding: 0;
    font-weight: 800;
}

.header-menu {
    float: right;
    box-sizing: border-box;
    max-width: calc(100% - 270px);
    height: 100%;
    border-bottom: none;
    background: initial;
    font-weight: 500;
}

.header-link {
    display: inline-block;
    color: #17233d;
}