.Func {
  height: auto;
  text-align: left;
}

.Func code {
  font-style: italic;
  background: #000;
  color: #fff;
}

.Func .language-js {
  font-style: normal;
  background: #fff;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  color: #666;
}