#login-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -11;
    filter: blur(5px);
    /*模糊*/
}

#login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -11;
    filter: blur(3px);
}

#login-box {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#login {
    max-width: 500px;
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login h2 {
    font-size: 24px;
    font-weight: 900;
}

.login-blogname {
    color: rgba(0, 0, 0, 0.85);
}

.login-input {
    background: rgba(255, 255, 255, 0.1);
}

#password,
#username {
    background: initial;
}

.login-btn {
    background: rgba(255, 255, 255, 0.1);
}

.login-register-box {
    text-align: right;
}

.login-register {
    color: rgba(0,0,0,0.3);
    padding: 0;
}