.system-header {
    background-color: #fff;
    color: #000;
    padding: 0 30px;
    border-bottom: 1px solid #f0f0f0;
}

.system-header h1 {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    padding: 0;
    transition: color 300ms;
    float: left;
}

.system-header h1:hover {
    color: #000;
}

.header-name {
    display: block;
    font-size: 0.8em;
    height: 100%;
    line-height: 64px;
    max-width: 120px;
    float: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(0, 0, 0, 0.5);
}