<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>webgl demo</title>
</head>
<body>
	<div class="container" id="loadingCon">
		<div id="loading"></div>
		<div class="internal-ring3">
		<div class="internal-ring3-p1-c">
			<div class="p1-an">
			<div class="internal-ring3-p1-r"></div>
			</div>
			</div>
			<div class="internal-ring3-p2-c">
			<div class="p2-an">
				<div class="internal-ring3-p2-r"></div>
			</div>
			</div>
		</div>
		<div class="internal-ring2">
			<div class="internal-ring2-c">
			<div class="internal-ring2-r"></div>
			</div>
		</div>
		<div class="outer-ring"></div> 
		<div class="outer-ring2"></div>
		<div class="progress">加载进度: 0%</div>
	</div>
	<div style="height: 50px;background: #eee;line-height: 50px;"><button class="reset">reset</button></div>
    <div id="app">
		<div id='reactRoot'></div>
	</div>
</body>
</html>