.setting-box {
    box-sizing: border-box;
    margin: 16px 0;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #ddd;
}

.setting-box label {
    font-weight: 500;
}

.setting-box .avatar-text {
    position: absolute;
    width: 64px;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    text-align: center;
    padding: 5px;
    font-size: .8em;
    cursor: pointer;
}